header {
    padding: 10px 0px;
    background: #005ea5;

    .header-top {
        background-color: #000000;
        height: 40px;
    }

    h1 {
        color: #ffffff;
        font-size: 25px;
    }
}
